footer{
	width:100%;
	position:relative;
	bottom:0;
	background:linear-gradient( #03162b, #00384e);
	color:#fff;
	padding:100px 0 30px;
	border-top-left-radius:125px;
	font-size:13px;
	line-height:20px;
}

.row{
	width:85%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-start;
	justify-content:space-between;
}

.row-re{
	width:85%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-start;
	justify-content:space-between;
}


.col{
	flex-basis:25%;
	padding:10px;
	
}
]
/*to add css to the colomn 2 and 3 */
.col:nth-child(2), .col:nth-child(3){
	flex-basis:15%;
}

.foot_logo{
	width:100px;
	margin-bottom:30px;
}

.col h3{
	width:fit-content;
	margin-bottom:40px;
	position:relative;
}

.email-id{
	width:fit-content;
	border-bottom:1px solid #ccc;
	margin:20px 0;
}
 .col  ul li {
	list-style:none;
	margin-bottom:12px;
}
.col  ul li a  {
	text-decoration:none;
	color:#fff;
}


.email-img{
	width:19px;
	height:20px;
	margin-right:3%;

}

.col form{
	padding-bottom:15px;
	display:flex;
	align-items:center;
	justify-content:space-betweeen;
	border-bottom:1px solid #ccc;
	margin-bottom:50px;
}

.col form .far{
	font-size:18px;
	margin-right:10px;	
}

.col form input{
	width:100%;
	background:transparent;
	color:#ccc;
	border:0;
	outline:none;
}

.col form button{
	background:transparent;
	border:0;
	outline: none;
	cursor: pointer;
}

.col form button .arrow{
	font-size: 16px;
	color:#ccc;
}

.social-icons .social_img{
	width:40px;
	height:40px;
	border-radius:50%;
	text-align:center;
	line-height:40px;
	font-size:20px;
	color:#000;
	background:#fff;
	margin-right:15px;
	cursor:pointer;
}

hr{
	width:90%;
	border:0;
	border-bottom: 1px solid #ccc;
	margin:20px auto;
}

.copyright{
	text-align:center;
}


.underline{
	width:100%;
	height:5px;
	background:#767676;
	border-radius:3px;
	position:absolute;
	top:25px;
	left:0;
	overflow:hidden;
}

.underline span{
	width:15px;
	height:100%;
	background:#fff;
	border-radius:3px;
	position:absolute;
	top:0;
	left:10px;
	animation: moving 2s linear infinite;
}


/*to make the animation*/

@keyframes moving{
	0%{
		left: -20px;  /*when its in left 0, it will be 100 right*/
	}
	100%{
		left:100%;
	}
}



/*to make the ratio for the minized pages*/
@media(max-width:700px){
	footer{
		bottom:unset;  /*used margin 0 in the top */
	}.col{
		flex-basis:100%;
	}
	
	
	.col:nth-child(2), .col:nth-child(3){
		flex-basis:100%;
	}
}